In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Leer datos

In [4]:
data_subset = pd.read_table("data_subset.txt", sep=";")

C:\Users\ANDRES\AppData\Local\Temp\ipykernel_444\2595219469.py:1: DtypeWarning: Columns (1,2,3,5,6,7,8,12,16,17,18,19,20,21,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  data_subset = pd.read_table("data_subset.txt", sep=";")

In [12]:
data_subset.head()

,estu_estudiante,cole_area_ubicacion,cole_bilingue,cole_caracter,cole_cod_depto_ubicacion,cole_jornada,cole_naturaleza,estu_dedicacioninternet,estu_dedicacionlecturadiaria,estu_discapacidad,...,fami_tieneinternet,fami_tieneserviciotv,fami_trabajolabormadre,fami_trabajolaborpadre,punt_c_naturales,punt_ingles,punt_lectura_critica,punt_matematicas,punt_sociales_ciudadanas,punt_global
0,ESTUDIANTE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,...,NaN,NaN,NaN,NaN,67,57.0,71,68,77,348
1,ESTUDIANTE,URBANO,NaN,NaN,11.0,UNICA,NO OFICIAL,NaN,NaN,N,...,NaN,NaN,Es vendedor o trabaja en atención al público,Es vendedor o trabaja en atención al público,43,45.0,50,48,41,227
2,ESTUDIANTE,URBANO,N,ACADÉMICO,23.0,UNICA,OFICIAL,Entre 30 y 60 minutos,No leo por entretenimiento,N,...,Si,Si,Es vendedor o trabaja en atención al público,"Trabaja como profesional (por ejemplo médico, ...",50,63.0,56,52,40,253
3,ESTUDIANTE,URBANO,N,TÉCNICO,99.0,MAÑANA,OFICIAL,Entre 30 y 60 minutos,30 minutos o menos,N,...,No,No,Es dueño de un negocio pequeño (tiene pocos em...,Es dueño de un negocio pequeño (tiene pocos em...,69,75.0,62,65,52,315
4,ESTUDIANTE,URBANO,N,ACADÉMICO,76.0,MAÑANA,OFICIAL,Entre 1 y 3 horas,30 minutos o menos,N,...,Si,Si,NaN,Es dueño de un negocio pequeño (tiene pocos em...,30,40.0,28,23,25,138

In [7]:
data_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592436 entries, 0 to 592435
Data columns (total 30 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   estu_estudiante               592436 non-null  object
 1   cole_area_ubicacion           557297 non-null  object
 2   cole_bilingue                 448584 non-null  object
 3   cole_caracter                 531793 non-null  object
 4   cole_cod_depto_ubicacion      557297 non-null  float64
 5   cole_jornada                  557297 non-null  object
 6   cole_naturaleza               557297 non-null  object
 7   estu_dedicacioninternet       495207 non-null  object
 8   estu_dedicacionlecturadiaria  496258 non-null  object
 9   estu_discapacidad             592436 non-null  object
 10  estu_fechanacimiento          592434 non-null  object
 11  estu_genero                   592434 non-null  object
 12  estu_horassemanatrabaja       515042 non-null  object
 13  estu_nse_individual           496446 non-null  float64
 14  estu_repite                   592433 non-null  float64
 15  estu_tieneetnia               20051 non-null   object
 16  fami_educacionmadre           497262 non-null  object
 17  fami_educacionpadre           497571 non-null  object
 18  fami_estratovivienda          556057 non-null  object
 19  fami_tienecomputador          515133 non-null  object
 20  fami_tieneinternet            497181 non-null  object
 21  fami_tieneserviciotv          496138 non-null  object
 22  fami_trabajolabormadre        514803 non-null  object
 23  fami_trabajolaborpadre        514615 non-null  object
 24  punt_c_naturales              592436 non-null  int64
 25  punt_ingles                   585278 non-null  float64
 26  punt_lectura_critica          592436 non-null  int64
 27  punt_matematicas              592436 non-null  int64
 28  punt_sociales_ciudadanas      592436 non-null  int64
 29  punt_global                   592436 non-null  int64
dtypes: float64(4), int64(5), object(21)
memory usage: 135.6+ MB

# Preparación de variables

Convertir variables categóricas a numéricas usando diferentes criterios

cole_cod_depto_ubicacion      (no tenemos el diccionario de variables)
estu_repite 		      (tratar todos los valores diferentes de 0)     
fami_educacionmadre	      (NO está ordenado)
fami_educacionpadre	      (NO está ordenado)
fami_trabajolabormadre	      (NO está ordenado)
fami_trabajolaborpadre	      (NO está ordenado)

In [135]:
data_convert = data_subset.copy()

data_convert["estu_estudiante"] = pd.Categorical(data_convert["estu_estudiante"], categories=["INDIVIDUAL", "ESTUDIANTE"], ordered=True).codes

data_convert["cole_area_ubicacion"] = pd.Categorical(data_convert["cole_area_ubicacion"], categories=["RURAL", "URBANO"], ordered=True).codes
data_convert["cole_bilingue"] = pd.Categorical(data_convert["cole_bilingue"], categories=["N", "S"], ordered=True).codes
data_convert["cole_caracter"] = pd.Categorical(data_convert['cole_caracter'], categories=['ACADÉMICO', 'TÉCNICO', 'TÉCNICO/ACADÉMICO', 'NO APLICA']).codes
data_convert["cole_jornada"] = pd.Categorical(data_convert['cole_jornada'], categories=['UNICA', 'MAÑANA', 'COMPLETA', 'NOCHE', 'TARDE', 'SABATINA']).codes
data_convert["cole_naturaleza"] = pd.Categorical(data_convert["cole_naturaleza"], categories=["NO OFICIAL", "OFICIAL"], ordered=True).codes

data_convert["estu_dedicacioninternet"] = pd.Categorical(data_convert['estu_dedicacioninternet'], categories=['No Navega Internet', '30 minutos o menos', 'Entre 30 y 60 minutos', 'Entre 1 y 3 horas', 'Más de 3 horas'], ordered=True).codes
data_convert["estu_dedicacionlecturadiaria"] = pd.Categorical(data_convert['estu_dedicacionlecturadiaria'], categories=['No leo por entretenimiento', '30 minutos o menos', 'Entre 30 y 60 minutos', 'Entre 1 y 2 horas', 'Más de 2 horas'], ordered=True).codes
data_convert["estu_discapacidad"] = pd.Categorical(data_convert["estu_discapacidad"], categories=["N", "S"], ordered=True).codes
data_convert["estu_genero"] = pd.Categorical(data_convert["estu_genero"], categories=["M", "F"], ordered=True).codes
data_convert["estu_horassemanatrabaja"] = pd.Categorical(data_convert['estu_horassemanatrabaja'], categories=['0', 'Menos de 10 horas', 'Entre 11 y 20 horas', 'Entre 21 y 30 horas', 'Más de 30 horas'], ordered=True).codes
data_convert["estu_tieneetnia"] = pd.Categorical(data_convert["estu_tieneetnia"], categories=["N", "S"], ordered=True).codes

data_convert["fami_educacionmadre"] = pd.Categorical(data_convert['fami_educacionmadre']).codes # no está ordenado
data_convert["fami_educacionpadre"] = pd.Categorical(data_convert['fami_educacionpadre']).codes # no está ordenado
data_convert["fami_estratovivienda"] = pd.Categorical(data_convert['fami_estratovivienda'],
                                                      categories=['Sin Estrato', 'Estrato 1', 'Estrato 2', 'Estrato 3', 'Estrato 4', 'Estrato 5', 'Estrato 6'], ordered=True).codes
data_convert["fami_tienecomputador"] = pd.Categorical(data_convert["fami_tienecomputador"], categories=["N", "S"], ordered=True).codes
data_convert["fami_tieneinternet"] = pd.Categorical(data_convert["fami_tieneinternet"], categories=["N", "S"], ordered=True).codes
data_convert["fami_tieneserviciotv"] = pd.Categorical(data_convert["fami_tieneserviciotv"], categories=["N", "S"], ordered=True).codes
data_convert["fami_trabajolabormadre"] = pd.Categorical(data_convert['fami_trabajolabormadre']).codes # no está ordenado
data_convert["fami_trabajolaborpadre"] = pd.Categorical(data_convert['fami_trabajolaborpadre']).codes # no está ordenado

In [136]:
data_convert[["cole_cod_depto_ubicacion", "estu_nse_individual", "punt_lectura_critica", "punt_matematicas", "punt_c_naturales", "punt_ingles", "punt_sociales_ciudadanas"]]= data_convert[["cole_cod_depto_ubicacion", "estu_nse_individual", "punt_lectura_critica", "punt_matematicas", "punt_c_naturales", "punt_ingles", "punt_sociales_ciudadanas"]].fillna(-1).astype('int8')
data_convert["punt_global"] = data_convert["punt_global"].fillna(-1).astype('int16')

In [119]:
data_convert.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592436 entries, 0 to 592435
Data columns (total 30 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   estu_estudiante               592436 non-null  int8
 1   cole_area_ubicacion           592436 non-null  int8
 2   cole_bilingue                 592436 non-null  int8
 3   cole_caracter                 592436 non-null  int8
 4   cole_cod_depto_ubicacion      592436 non-null  int8
 5   cole_jornada                  592436 non-null  int8
 6   cole_naturaleza               592436 non-null  int8
 7   estu_dedicacioninternet       592436 non-null  int8
 8   estu_dedicacionlecturadiaria  592436 non-null  int8
 9   estu_discapacidad             592436 non-null  int8
 10  estu_fechanacimiento          592434 non-null  object
 11  estu_genero                   592436 non-null  int8
 12  estu_horassemanatrabaja       592436 non-null  int8
 13  estu_nse_individual           592436 non-null  int8
 14  estu_repite                   592433 non-null  float64
 15  estu_tieneetnia               592436 non-null  int8
 16  fami_educacionmadre           592436 non-null  int8
 17  fami_educacionpadre           592436 non-null  int8
 18  fami_estratovivienda          592436 non-null  int8
 19  fami_tienecomputador          592436 non-null  int8
 20  fami_tieneinternet            592436 non-null  int8
 21  fami_tieneserviciotv          592436 non-null  int8
 22  fami_trabajolabormadre        592436 non-null  int8
 23  fami_trabajolaborpadre        592436 non-null  int8
 24  punt_c_naturales              592436 non-null  int8
 25  punt_ingles                   592436 non-null  int8
 26  punt_lectura_critica          592436 non-null  int8
 27  punt_matematicas              592436 non-null  int8
 28  punt_sociales_ciudadanas      592436 non-null  int8
 29  punt_global                   592436 non-null  int16
dtypes: float64(1), int16(1), int8(27), object(1)
memory usage: 25.4+ MB

Hay algunos errores en las fechas de nacimiento tales como 30/11/0002 los cuales impiden que la variable sea convertida a formato fecha.
Por lo tanto, se procede a eliminar estos resgistros, manteniendo solo las fechas válidas. Después, se crea una variable adicional para denotar la edad

In [190]:
data_convert["estu_fechanacimiento"] = pd.to_datetime(data_convert["estu_fechanacimiento"], format="%d/%m/%Y", errors='coerce')
data_convert["estu_edad"] = (pd.to_datetime("2024-08-11") - data_convert["estu_fechanacimiento"]).dt.days // 365
data_convert["estu_edad"] = data_convert["estu_edad"].fillna(-1).astype('int8')